body{
    background-color: white !important;
    color: black !important;
}

input:-webkit-autofill, Input:-webkit-autofill,
input:-webkit-autofill:hover, Input:-webkit-autofill:hover,
input:-webkit-autofill:focus, Input:-webkit-autofill:focus,
input:-webkit-autofill:active, Input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill, Input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[data-autocompleted], Input[data-autocompleted] {
    background-color: transparent !important;
}

.sChakraUI {
    width: 55%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.ball {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    border: none;
    outline: none;
}

.ball1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    left: 50%;
    border: none;
    outline: none;
}

.ball2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    right: 15%;
    border: none;
    outline: none;
}

.ball3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    right: 35%;
    border: none;
    outline: none;
}

.ball4 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 70%;
    left: 35%;
    border: none;
    outline: none;
}

.star {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    right: 55%;
    border: none;
    outline: none;
}

.star1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 55%;
    left: 20%;
    border: none;
    outline: none;
}

.sphere {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    left: 20%;
    border: none;
    outline: none;
}

.sphere1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 25%;
    right: 5%;
    border: none;
    outline: none;
}

.logo{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.heading{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.subHeading{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.texts{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.facebook {
  color: blue;
}

.facebook, .google, .email {
  font-size: large;
}

.scroll::-webkit-scrollbar {
    display: none;
    resize: none;
    outline: 0px solid transparent;
}

[contenteditable] {
    outline: 0px solid transparent;
}

Box[contenteditable="true"]::before {
    content: attr(placeholder);
    color: #aaa;
}

.content {
    color: gray;
    opacity: 0.9;
    font-size: medium;
}

.contentEdit {
    padding: 10px;
    color: gray.500;
    resize: none;
    font-size: 24px;
    height: 0px;
    overflow-y: auto;
    border: none;
    outline: none;
    border-radius: 8px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.bubble-menu {
    display: flex;
    width: 100% !important;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 6px 6px;
    gap: 3px;
    overflow-x: auto;
}

.floating-menu {
    display: flex;
    width: 100%;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 6px 6px;
    gap: 3px;
    overflow-x: auto;
}

.floating-menu::-webkit-scrollbar, .bubble-menu::-webkit-scrollbar {
    display: none;
}

.floating-menu button, .bubble-menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    margin: 0 2px;
    font-size: 18px;
}

.floating-menu button:hover, .bubble-menu button:hover {
    background: #efefef;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.floating-menu button.is-active, .bubble-menu button.is-active {
    background: #efefef;
}


@media(max-width: 468px) {
    .sChakraUI {
        order: 0;
        width: 100%;
    }

    .text {
        order: 1;
    }

    .ball {
        top: 10%;
        left: 7%;
        width: 25px;
        height: 25px;
    }

    .ball1 {
        top: 25%;
        left: 23%;
    }

    .ball2 {
        top: 10%;
        right: 5%;
    }

    .ball3 {
        top: 45%;
        right: 5%;
    }

    .ball4 {
        top: 80%;
        left: 60%;
    }

    .star {
        top: 55%;
        right: 35%;
    }

    .star1 {
        top: 60%;
        left: 15%;
    }

    .sphere {
        top: 25%;
        left: 40%;
    }

    .sphere1 {
        display: none;
    }

    .floating-menu {
        width: 200px;
    }
}

